version: '3.8'

services:
  ml_api:
    build: .
    container_name: measurement-api
    restart: always
    ports:
      - "8512:8512"  # Expose on port 8000 of your host machine
    networks:
      - lavie_database
    environment:
      DB_HOST: lavie_postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: lavie

networks:
  lavie_database:
    external: true
