services:
  ml_api:
    build: .
    container_name: measurement-api
    restart: always
    networks:
      - lavie_database
    env_file:
      - .envs/ml.env
      - .envs/db.env
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8512/" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 15s

  nginx:
    image: nginx:stable-alpine
    container_name: nginx-proxy
    restart: always
    ports:
      - "8512:8512"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certs:/etc/nginx/certs  # Certs directory
    depends_on:
      - ml_api
    networks:
      - lavie_database

networks:
  lavie_database:
    external: true